---
import Header from "../components/header.astro";
import Navbar from "../components/navbar.astro";

---

<html lang="en">

<Header></Header>

<body class=" selection:bg-violet-300">
	<Navbar></Navbar>
    <div class="font-poppins flex flex-col mx-auto mt-56 items-center">Blog Soon.</div>
	
</body>

</html>