---
import Header from "../components/header.astro";
import Navbar from "../components/navbar.astro";
import Hero from "../components/hero.astro";
import Heromob from "../components/heromob.astro";
---

<html lang="en">

<Header></Header>

<body class=" selection:bg-violet-300">
	<Navbar></Navbar>
    <div>Contact Form Soon.</div>
</body>

</html>