---
import Header from "../components/header.astro";
import Navbar from "../components/navbar.astro";
import Hero from "../components/hero.astro";
---

<html lang="en">

<Header></Header>
	<body class="flex flex-row items-center">
		<Navbar></Navbar>
		<Hero></Hero>
	</body>
</html>
