---
import Header from "../components/header.astro";
import Navbar from "../components/navbar.astro";
---

<html lang="en">


	<body class="bg-gray-300 ">
		<Header></Header>
		<Navbar></Navbar>
	</body>
</html>
