---
import Header from "../components/header.astro";
import Navbar from "../components/navbar.astro";
---

<html lang="en">

<Header></Header>
	<body class="flex flex-row justify-center">
		
		<Navbar></Navbar>
		
	</body>
</html>
