---

---

<form class="flex flex-col mx-auto mt-20 items-center w-fit p-8 outline" action="https://formsubmit.co/96d8c357d9d7329e7ccc42a014cb546e" method="POST">
    <input type="hidden" name="_subject" value="New email from website">
    <input type="hidden" name="_captcha" value="false">
    <input type="hidden" name="_next" value="https://jackfaulkner.co.uk/">
    <label class="block mb-4">
        <span class="text-gray-700">Name: </span>
        <input type="text" class="form-input mt-1 block w-full" placeholder="Enter name.">
    </label>
    <label class="block mb-4">
        <span class="text-gray-700">Email: </span>
        <input type="email" name="email" class="form-input mt-1 block w-full" placeholder="Enter email.">
    </label>
    <label class="block">
        <span class="text-gray-700">Message: </span>
        <textarea class="form-textarea mt-1 block w-full h-24" rows="3" name="message"
            placeholder="Enter your message."></textarea>
    </label>
    <button type="submit" class="hover:bg-violet-300 p-2 m-2">Send</button>
</form>