---
const siteTitle = "Jack Faulkner - Developer";
const description =
  "Software developer";
---


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <meta property="og:title" content={siteTitle} />
    <meta property="og:description" content={description} />
    <title>{siteTitle}</title>
    <title>Astro</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet"> 
</head>