---
---

<nav class="flex items-center w-1/2 mx-auto font-poppins text-sm">
	<div class="container flex flex-wrap justify-between mt-4">
		<a href="/" class="hover:bg-violet-300 p-1.5" aria-current="page">Jack.</a>
	  <div class="">
		<ul class="flex flex-wrap justify-between">
		  <li>
			<a href="#" class="hover:bg-violet-300 p-1.5 m-4" aria-current="page">Blog.</a>
		  </li>
		  <li>
			<a href="#" class="hover:bg-violet-300 p-1.5 m-4" aria-current="page">Contact.</a>
		  </li>
		</ul>
	  </div>
	</div>
  </nav>