---

import Hammenu from "../components/hammenu.astro";
import Close from "../components/closemenu.astro"
---

<nav class="font-poppins">
    <div class=" py-2 w-screen sm:flex sm:flex-row sm:justify-between sm:px-16 lg:px-56">
        <div class="flex flex-row items-center justify-between">
            <a href="/" class="hover:bg-violet-300 p-1.5 ml-4" aria-current="page">Jack.</a>
            <div class="">
                <button id="menu-toggle" class="mr-4 sm:hidden hover:bg-violet-300 p-1.5">
                    <Hammenu></Hammenu>
                </button>
                <button id="close-toggle" class=" mr-4 hidden sm:hidden hover:bg-violet-300 p-1.5">
                    <Close></Close>
                </button>
            </div>
        </div>
        <ul class="hidden items-center sm:flex">
            <li>
                <a href="#" class="group relative p-1.5 m-4 hover:bg-violet-300 duration-300">
                    Blog.
                    <!-- Tooltip text here -->
                    <span
                        class="absolute hidden group-hover:flex -left-8 top-12 w-max px-2 py-1 bg-violet-300 text-center text-sm after:border-t-gray-700">Coming Soon.</span>
                </a>
                
            </li>
            <li>
                <a href="/projects" class="hover:bg-violet-300 p-1.5 m-4" aria-current="page">Projects.</a>
            </li>
            <li>
                <a href="/contact" class="hover:bg-violet-300 p-1.5 m-4" aria-current="page">Contact.</a>
            </li>
        </ul>
    </div>

    <div id="mobile-menu" class="hidden sm:hidden">
        <ul class="absolute pt-0.5 inset-y-20 right-16 w-16">
            <li class="pb-4">
                <a href="#" class="group relative p-1.5 hover:bg-violet-300 duration-300">
                    Blog.
                    <!-- Tooltip text here -->
                    <span
                        class="absolute hidden group-hover:flex -left-8 -top-8 w-max px-2 py-1 bg-violet-300 text-center text-sm after:border-t-gray-700">Coming Soon.</span>
                </a>

            </li>
            <li>
                <a href="/projects" class="hover:bg-violet-300 p-1.5 m-4" aria-current="page">Projects.</a>
            </li>
            <li>
                <a href="/contact" class="hover:bg-violet-300 p-1.5" aria-current="page">Contact.</a>
            </li>
        </ul>
    </div>

    <script>
        let menuButton = document.getElementById('menu-toggle');
        menuButton.addEventListener('click', function () {
            toggle();

        })


        let closeButton = document.getElementById("close-toggle");
        closeButton.addEventListener('click', function () {
            toggle();
        });

        function toggle() {
            let flyout = document.getElementById('mobile-menu').classList
            let burg = document.getElementById('menu-toggle').classList
            let close = document.getElementById('close-toggle').classList
            flyout.toggle('hidden')
            burg.toggle("hidden")
            close.toggle("hidden")
        }

    </script>
</nav>