---

import Hammenu from "../components/hammenu.astro";
import Close from "../components/closemenu.astro"
---

<nav class="font-poppins">
    <div class="flex items-center justify-center text-sm mx-auto">
        <div class="flex mt-3.5 pt-1.5 space-x-80 items-center">
            <a href="/" class="hover:bg-violet-300 p-1.5" aria-current="page">Jack.</a>
            <div>
                <button id="menu-toggle" class="sm:hidden hover:bg-violet-300 p-1.5">
                    <Hammenu></Hammenu>
                </button>
                <button id="close-toggle" class=" hidden sm:hidden hover:bg-violet-300 p-1.5">
                    <Close></Close>
                </button>
            </div>


        </div>
        <ul class="hidden mt-3.5 pt-1.5 sm:flex">
            <li>
                <a href="#" class="hover:bg-violet-300 p-1.5 m-4" aria-current="page">Blog.</a>
            </li>
            <li>
                <a href="#" class="hover:bg-violet-300 p-1.5 m-4" aria-current="page">Contact.</a>
            </li>
        </ul>
    </div>

    <div id="mobile-menu" class="hidden">
        <ul class="absolute pt-0.5 inset-y-20 right-16 w-16">
            <li class="pb-4">
                <a href="#" class="hover:bg-violet-300 p-1.5 m-4" aria-current="page">Blog.</a>
            </li>
            <li>
                <a href="#" class="hover:bg-violet-300 p-1.5 m-4" aria-current="page">Contact.</a>
            </li>
        </ul>
    </div>

    <script>
        let menuButton = document.getElementById('menu-toggle');
        menuButton.addEventListener('click', function () {
            toggle();

        })


        let closeButton = document.getElementById("close-toggle");
        closeButton.addEventListener('click', function () {
            toggle();
        });

        function toggle(){
            let flyout = document.getElementById('mobile-menu').classList
            let burg = document.getElementById('menu-toggle').classList
            let close = document.getElementById('close-toggle').classList
            flyout.toggle('hidden')
            burg.toggle("hidden")
            close.toggle("hidden")
        }

    </script>
</nav>